* {
  text-align: center;
  font-family: skrivmaskin;
}

@font-face {
  font-family: skrivmaskin;
  src: url("1942.ttf"); /*Alternativ font???*/
}

@keyframes herrarnabodyanimation {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}

@keyframes promenad {
  from {
    left: -50%;
  }
  to {
    left: +50%;
  }
}

header {
  /*Headern som är likadan på alla sidor*/
  padding: 8px; /*Sätter en gräns precis utanför innehållet, eftersom: Margin, Border, Padding, Content*/
  background-color: black; /*Bakgrundsfärg*/
  color: white; /*Textfärg*/
}

header nav {
  /*Specifika flexbox inställningar för alla nav-element*/
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  color: grey;
  transition: 0.5s ease-in-out;
}

#konstverkbody img:hover {
  transform: scale(1.05);
}

header nav a {
  /*mellanrum mellan nav-länkarna*/
  /*padding: 10px;*/
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none; /*Ta bort all styling från texten*/
  color: white;
}

a {
  /*Anpassade inställningar för a-element utanför nav-elementet*/
  text-decoration: none; /*Ta bort all styling från texten*/
  color: black;
}

footer {
  /*Footern som är likadan på alla sidor*/
  padding: 8px;
  background-color: black;
  color: white;
}

h1,
h3 {
  /*Rubrik utanför huvudelement*/
  font-size: 1.5625vw;
}

body {
  margin: 0;
  padding: 0;
}

#indexbody {
  background-image: url(bilder/bild-bakgrund.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgb(209 207 207);
}

#herrarnabody {
  animation-name: herrarnabodyanimation;
  animation-duration: 0.5s;
}

#konstverkbody {
  background-color: rgb(209 207 207);
}

#kontaktabody {
  background-color: white;
}

#indexdel {
  /*inledning*/
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
  font-size: 1.09375vw;
  background-color: rgba(177, 177, 177, 0.9);
}

#indexdel div {
  /*inledningens ram*/
  border: 5px solid black;
  border-style: dotted;
  padding-left: 20px;
  padding-right: 20px;
}

#konstverkdel {
  /*Konstverk*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 0%;
  font-size: 1vw;
}

#konstverkdel img {
  min-width: 100px;
  max-width: 20vw;
}

#herrarnadel {
  margin: 15%;
}

#kontaktadel {
  font-size: 1.5vw;
  margin-top: 0%;
  margin-bottom: 4%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
}

#promenerandeman {
  position: relative;
  animation: promenad 60s infinite;
}

.konstverk-container {
  width: 32%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img {
  min-width: 160px;
  max-width: 350px;
}

.dropdown-content {
  display: none;
  position: top;
  background-color: #f9f9f9;
  min-width: 160px;
  max-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

.flaggor {
  padding-top: 20px;
  padding-bottom: 0px;
}
