@font-face {
  font-family: skrivmaskin;
  src: url("1942.ttf");
}

@font-face {
  font-family: tysk;
  src: url("AlteSchwabacher-Shadow.ttf");
}

body {
  margin: 0;
  padding: 0;
  /*Ändra all mellanrum från standard till precis i kanterna*/
  background-color: rgb(209, 207, 207);
  /*font-family: "Roboto Slab", serif;*/
  /*font-family: "AlteSchwabacher", 1942 report; */
  font-family: skrivmaskin;
}

header {
  /*Headern som är likadan på alla sidor*/
  padding: 8px; /*Sätter en gräns precis utanför innehållet, eftersom: Margin, Border, Padding, Content*/
  background-color: black; /*Bakgrundsfärg*/
  color: white; /*Textfärg*/
  text-align: center;
}

nav {
  /*Specifika flexbox inställningar för alla nav-element*/
  display: flex;
  align-items: center;
  justify-content: center;
}
a:hover {
  color: grey;
}
nav a {
  /*mellanrum mellan nav-länkarna*/
  /*padding: 10px;*/
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none; /*Ta bort all styling från texten*/
  color: white;
}

header h1 {
  /*mellanrum till rubriken*/
  font-size: 30px;
  padding-bottom: 10px;
}

footer {
  /*Footern som är likadan på alla sidor*/
  padding: 8px;
  background-color: black;
  color: white;
  text-align: center;
}

#huvuddel {
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
}

#huvuddel p {
  text-align: center;
  font-size: 18px;
}

#konstverk {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

#konstverk div {
  width: 32%;
}
#konstverk p {
  font-size: 12px;
}

.button {
  border: none;
  background: url("bilder/Andreas.jpg") no-repeat top left;
  padding: 2px 8px;
}

#pax {
  margin: 12%;
}

main h1 {
  /*Rubrik utanför huvudelement*/

  text-align: center;
}

#fullständigkontaktinfo {
  text-align: center;
  align-items: center;
}
